*  {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --primary-color:#0B0833;
    --white-color: #ffffff;
    --gap: 3rem;
    --gray-color: #bbb0b0;
    --seconder: rgb(106, 114, 230);
 }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    
}    

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    
    font-size: 5.5rem;

}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;

}
h5 {
    font-size: 4rem;

}

h6{
    font-size: 3.5;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.main-bg {
    background-color: #0B0833;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236A3E1C' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23818716'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); 
    background-size: cover;
    background-position: center center;
    color:var(--white-color)
    
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: auto;
    padding: 8rem var(--gap);
}
.main-contentt {
    max-width: 120rem;
    margin: auto;
    padding: 6.5rem var(--gap);
}


.section {
    min-height: 100vh;
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.01rem solid var(--gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

menu h1 {
    font-size: 2.3rem;
    color:var(--white-color) ;
}
menu h1 {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul li a{
    
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--gray-color);
    position: relative;
    

}
.menu ul li a:after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--seconder);
    transition: all 300ms ease-in-out;
    z-index: 999;
   
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 65px;
}

.intro-content {
    position: relative;
   /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap:var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img { 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}
.top3-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 64rem;
    text-align: center;

}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading{
    margin-bottom: 1rem;
}
.grid-descripition {
    padding-bottom: -1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
  }

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;;

}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: 4rem;
    left: -2rem;
    transform: rotate(5deg);
    
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}
table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap ;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th {
    background: var(--light-gray-color);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);

}

.form-grid legend
{
font-style: italic;
font-size: 1.6rem;
margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;

}
.form-group label {
    display: block;
    margin-bottom: 1rem;
  }
.form-group label {
    display: block;
}
.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 2px 2px 5px var(--gray-color);
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
}

.full-width {
    width: 100%;
    flex: 1 1 100%;

}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    font-size: 3rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;


}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
color: var(--gray-color);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer p {
    color: purple;
}

.close-menu {
    display: none;
}

  .back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
  }
  

@media (max-width: 800px) {
    .intro-content, .grid  {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img{
        width: 100%;
    }

    .grid-one-content {

        display: block;
    }

        .menu {
            bottom: 0;
            text-align: center;

        }

        .menu-content, .menu-content ul{
            flex-direction: column;
            justify-content: center;
        }

        .menu-content {
            height: 100vh;
        }

        .menu {
            display: none;

        
        }

        
        .close-menu-label::after {
            content: '≡';
            position: fixed;
            z-index: 2;
            top: 2rem;
            right: 2rem;
            background: var(--primary-color);
            color: var(--white-color);
            font-size: 3rem;
            line-height: 3rem;
            width: 3rem;
            height: 3rem;
            text-align: center;
            padding: 0.5rem;
            cursor: pointer;
        }

        .close-menu:checked~.menu {
            display: block;
        }

        .close-menu:checked~.close-menu-label::after {
           
            content: 'x';
        }

        .menu-spacing {
            display: none;
        }

        h1 {
            font-size: 4.5rem;
            text-transform: uppercase;
        }

        h2 h3 h4 h5 h6 {
            font-size: 4rem;
        }

}

